body{
    background-image: url("/images/backgroundImg.png");
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.userNameText {
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 19px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.leftQuestion{
    border-right: 1px solid;
    border-color: #E6E6E6;
}
.jumbotron{
    margin: 50px;
    background-image: url(/images/backgroundImg.png);
    text-align:center;
    ext-align:line-height;
}
.commentText{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-menu{
    color: #999;
    margin-top: 5px;
}
/**.comment-menu .icon{
     margin-right: 6px;
     font-size: 15px;
     cursor: pointer;
 }*/
.comment-menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.comment-menu .comment-icon:hover{
    color: #499ef3;
}

.comment-menu .active{
    color: #499ef3;
}
.comment-menu .icon:hover{
    color: #499ef3;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 10px;
}

.sub-comments .btn{
    margin: 10px 0;
}

#comment_section{
    margin-top: -10px;
}
.comment-userImg{
    padding-top: 10px;
}
.commentTotal{
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
    padding-top:20px;
}
#text-desc-num{
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
    padding-left: 0;
}
.description{
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid #eee;
}
.editIcon{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
}
.question-tags{
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.question-tag{
    margin-right: 5px;
}
#ul-li{
    padding: 5px 0;
}
.font-size-12{
    font-size: 14px;
    text-align: left;
}
.font-size-12 ul{
    padding:0;
}
.weibo{
    width: 100%;
}